@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import "../../style/variables.scss";

.login {
  width: 1601px;
  height: 1024px;
  padding-top: 64px;
  background: url('./Background.png') center (center / cover) no-repeat;
}
  
.modal {
  display: flex;
  width: 619px;
  height: 896px;
  margin-left: 64px;
  padding: 54px 90px 72px 90px;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  background: $Neutral10;
  border-radius: 16px;
  box-shadow: 0px 24px 64px -16px rgba(25, 25, 28, 0.08);
  &__logo {
    width: 151px;
    height: 58px;
    margin: 0px auto;
  }
  &__title {
    margin-top: 135px;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; 
    color: $Neutral100;
    text-align: center;
  }
  &__discr {
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $Neutral60;
  }
}
  