$Primary60: #FF5C00;
$Primary50: #FF7527;
$Primary20: #FEE3D0;
$Primary10: #FFF5EE;
$Neutral100: #19191C;
$Neutral60: #828487;
$Neutral50: #9C9C9C;
$Neutral40: #C2C2C2;
$Neutral30: #E4E4E4;
$Neutral10: #FFFFFF;
$Outline: #fff;
